.css-uf99v8 {
    background-image: linear-gradient(to bottom left, rgb(234, 232, 235), rgba(65, 217, 62, 1));
}

.css-1p05t8e {
    background-color: black;
    border-radius: 1rem;
}

.css-1hynsf {
    background-color: black;
    border-radius: 1rem;
}